<a href="https://colab.research.google.com/github/urchbee/Data-Structures-/blob/main/Data_Structures_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment on Data Structures**

This assignment tests the knowledge on data types as well a data structures such as booleans, sets, lists. Also, Python operators like arithmetic, logical,arithmetic and comparison operators were used to solve some of the questions.

## 1. 


x = 16 - 2 * 5 // 3 + 1


y = 2 ** 3 * 3

what is x?
what is y?

Describe the order that the computation occurred in each case. i.e which happened first, followed by which one, etc.

In [2]:
x = 16 - 2 * 5 // 3 + 1
print(x)

14

using PEDMAS- multiplication and division comes first before addition and subtraction. Hence moving from left to right, multiply 2 by 5 which is 10 then divide by 3 and round up to the nearest whole number which equals 3. Next 16 minus 3 is 13 and then add 1 which results in the final answer of 14

In [3]:
y = 2**3 * 3
print (y)

24

still using PEDMAS, here exponentiation has the highest precedence over multiplcation. therefore, 2 raised to the power of 3 is 8. 8 multiplied by 3 is 24.

## 2. 
Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.

In [4]:
6*(1-2)

-6

## 3. 
Compute the area of a circle with radius 7, stored into a variable called area. 
Print a nice message with the answer.

Note- Search for the formula to calculate area of a circle.

In [5]:
area = 3.14 *7 ** 2
print(area)

153.86

## 4. 
Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.

In [54]:
x = 3
print(x > 0 or x < 5)

True

## 5. 

Variables x and y refer to Boolean values.


a. Write an expression that produces True if both variables are True.

b. Write an expression that produces True if at least one of the variables
is True.

c. write an expression that inverses the result of 5a above.

In [7]:
x = 25
print(x > 10 and x < 30)

y = 6
print(y < 8 or y > 7)

x = 25
print(not(x > 10 and x < 30))

True
True
False

## 6.
Create a list that contains floats and integers, and write a code to sum all the items in the list.

In [8]:
list = [2, 4, 6, 8, 9.5, 10, 12.2]
sum(list)

51.7

## 7.
list1 = [3, 5, 1, 3, 9, 5, 7] 

Write a code to sort this list in increasing order.

In [9]:
list1 = [3, 5, 1, 3, 9, 5, 7]
list1.sort()
list1

[1, 3, 3, 5, 5, 7, 9]

## 8.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

In [10]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]
list2.count(2)

5

## 9.
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

In [11]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
list3[3][2][1][0]

'Chinelo'

In [12]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
list3[3][1]

'Faith'

In [13]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
list3[4]

100

In [14]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
list3[5]

85.5

In [15]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
list3[8][1]

90

In [17]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
message = (list3[3][2][1][0] + " couldn't score " + str(list3[4]) + "%, she got " + str(list3[8][1]) + "%, However,"  + list3[3][1] + " is a close second with " + str(list3[5]) + "%")
print(message)

Chinelo couldn't score 100%, she got 90%, However,Faith is a close second with 85.5%

## 10.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

In [21]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4[0] = "Sandra"
list4

['Sandra', 'Ebuka', 'Rose', 'Hassan', 'Bisi']

## 11. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that prints out the index positon of the name "Rose"

In [22]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.index("Rose")

2

## 12. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that adds your name to this list of names

In [24]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append("Sandra")
list4

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Sandra']

## 13.
sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in asceding order. Print the output, explain the out you got and why.

In [25]:
sets = {3, 1, 10, 4, 5, 6}
print(sets)

{1, 3, 4, 5, 6, 10}

Sets are unordered and values in a set cannot be sorted or changed but when you print set, it displays in a sorted manner

## 14.

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Write a code prints out a new set with all items from both sets by removing duplicates

In [26]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set = set1.union(set2)
set

{10, 20, 30, 40, 50, 60, 70}

## 15.

- Create a string that is a long series of words separated by spaces. 
It can be names, cities, animals, anything. Just make it up yourself.
- Turn the string into a list of words using split. 
- Delete two words from the list, but delete each one using a different kind of Python method. 
- Sort the list. 
- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
- Turn the list of words back into a single string using join. 
- Print the string.

NB: Feel free to use Google to find out other ways to add and remove items from a list

In [46]:
message = "My name is Sandra and I am enjoying this Data Analysis course"
list1 = print(message.split())

['My', 'name', 'is', 'Sandra', 'and', 'I', 'am', 'enjoying', 'this', 'Data', 'Analysis', 'course']

In [47]:
list1 = ['My', 'name', 'is', 'Sandra', 'and', 'I', 'am', 'enjoying', 'this', 'Data', 'Analysis', 'course']
list1.remove("My")
print(list1)

['name', 'is', 'Sandra', 'and', 'I', 'am', 'enjoying', 'this', 'Data', 'Analysis', 'course']

In [48]:
list1.pop(3)
print(list1)

['name', 'is', 'Sandra', 'I', 'am', 'enjoying', 'this', 'Data', 'Analysis', 'course']

In [49]:
list1.sort()
print(list1)

['Analysis', 'Data', 'I', 'Sandra', 'am', 'course', 'enjoying', 'is', 'name', 'this']

In [50]:
list1.append("Nwokolo")
print(list1)

['Analysis', 'Data', 'I', 'Sandra', 'am', 'course', 'enjoying', 'is', 'name', 'this', 'Nwokolo']

In [51]:
list1.insert(4, "uche")
print(list1)

['Analysis', 'Data', 'I', 'Sandra', 'uche', 'am', 'course', 'enjoying', 'is', 'name', 'this', 'Nwokolo']

In [53]:
str = ( " " )
list1 = ['Analysis', 'Data', 'I', 'Sandra', 'uche', 'am', 'course', 'enjoying', 'is', 'name', 'this', 'Nwokolo']
print(str.join(list1))

Analysis Data I Sandra uche am course enjoying is name this Nwokolo